{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "@effector/babel-plugin",
      {
        "storeCreators": [
          "createStore",
          "createUniversalStore"
        ]
      }
    ]
  ]
}